<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finz Assistant</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="text-white flex flex-col items-center justify-center min-h-screen relative" style="background-color:#131314";>

  <img src="/static/logo.png" alt="Logo" class="absolute top-8 left-8">

  <h1 class="text-5xl md:text-7xl font-extrabold mb-4" style="font-family: 'Montserrat'; background-clip: text; -webkit-background-clip: text; color: transparent; background-image: linear-gradient(to right, #2733FF, #000456);">
    Finz Assistant
  </h1>

  <h2 class="text-4xl md:text-7xl font-medium mb-8" style="font-family: 'Montserrat';">O seu assistente financeiro</h2>

  <p class="text-lg md:text-xl mb-8" style="font-family: 'Montserrat';">Insights personalizados para a SUA carteira de investimentos!</p>

  <button onclick="window.location.href='/core/plataforma'" style="background-color: #ffffff; color: #131314;" onmouseover="this.style.backgroundColor='#131314'; this.style.color='#ffffff';" onmouseout="this.style.backgroundColor='#ffffff'; this.style.color='#131314';" class="text-lg md:text-lg py-3 px-4 rounded-full  transition duration-300 ease-in-out">
    Clique para obter insights personalizados
  </button>
</body>
</html>
